<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>ISBN</td>
        <td>Author</td>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.id}">...</td>
            <td th:text="${book.name}">...</td>
            <td th:text="${book.description}">...</td>
            <td th:text="${book.isbn}">...</td>
            <td th:text="${book.author}">...</td>
        </tr>
    </th:block>
</table>

</body>
</html>